head
  link(rel="stylesheet" href="/styles.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
body
  div.heading
    b URL Shortening Service
  div.subheading A project for Free Code Camp by Dylan Cutler
  div.body
    b Example shortcut creation:
    br
    br
    | Making a GET request to:
    div.code https://dcthetall-url-shortener.herokuapp.com/new/https://github.com/DCtheTall
    br
    | will get a response like the following:
    div.code { "originalUrl":"https://github.com/DCtheTall", "shortenedUrl":"https://dcthetall-url-shortener.herokuapp.com/12" }
    br
    hr
    br
    b Example usage:
    br
    br
    | After creating a shortcut, requesting
    div.code https://dcthetall-url-shortnener.herokuapp.com/12
    br
    | Will redirect to:
    div.code https://github.com/DCtheTall
  div.signature
    | Made with
    |
    i.fa.fa-heart
    |
    | by Dylan Cutler
    img(src="/portrait.png")
    br
    a(href="https://github.com/DCtheTall" target="_blank")
      i.fa.fa-github
    a(href="https://freecodecamp.com/DCtheTall" target="_blank")
      i.fa.fa-free-code-camp
    a(href="https://codepen.io/DCtheTall" target="_blank")
      i.fa.fa-codepen
    a(href="https://www.linkedin.com/in/dylan-cutler-7b095568/" target="_blank")
      i.fa.fa-linkedin
    a(href="http://dylancutler.us" target="_blank")
      i.fa.fa-globe
